* { margin: 0; padding: 0;}

body { color: #fff; font-size: 12px; font-family: "宋体";overflow-x:hidden;}

.easyui-tabs.tabs-Style.tabs-container { position:relative; z-index:11;}
#nav, #nav-menu-dropdown {position:relative; z-index:12!important;}

#nav { display: block; float: left; border-top:1px solid #639acc; font-family: Trebuchet MS, sans-serif; font-size: 0; background: url(../images/bg01.png) repeat-x; width: 100%; height: 32px; line-height: 32px;*line-height: 24px;}
#nav, #nav ul { list-style: none; margin: 0;}

#nav .subs { background: #fff; border: 1px solid #639acc; border-top: 0; visibility: hidden; position: absolute; top: 100%; margin-top: 7px; }
#nav .subs .subs { border-top: 1px solid #639acc;  margin-top: -1px; }
#nav .subs ul { border-right: 1px solid #f8f8f8; float: left!important;}
#nav ul .subs { position: absolute; top: 0;}

#nav ul { float: left;}
#nav li { display: block; float: left; white-space: nowrap;}
#nav li:hover>* { visibility: visible;}
#nav li:hover { position: relative;}
#nav>li, #nav li { margin: 0 0 0 35px;}
#nav ul>li { margin: 5px 0 0;}
#nav a:active, #nav a:focus { outline-style: none;}
#nav a { border-style: none; border-width: 0; color: #fff; cursor: pointer; display: block; font-size: 12px; font-weight: normal; text-align: left; text-decoration: none; vertical-align: middle; line-height:2;  padding-left: 15px;}
#nav ul li { float: none; margin:0;}
#nav ul a { color: #000; font-size: 12px; text-align: left; text-decoration: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; padding: 0 20px; background-image: url(../images/arrow1.gif); background-position: 8px 50%; background-repeat: no-repeat; }
#nav ul a:hover { background-color: #60a7db;background-image: url(../images/arrow1_.gif);  font-size: 12px; text-align: left; text-decoration: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; color: #fff!important; }

#nav li:hover>a { border-style: none; color: #002d55; font-size: 12px; font-weight: normal; text-decoration: none;}
#nav span { background-position: right center; background-repeat: no-repeat; display: block; overflow: visible; padding-right: 0;}
#nav ul span { background-image: url("../images/arrow_a.png"); padding-right:30px; margin-right:-10px;}
#nav ul li:hover>a { color: #002d55; font-size: 12px; text-decoration: none;}
#nav > li >a { background-color: transparent; height:32px; line-height:32px;  padding:0 10px; font-weight:bold;border: 1px solid transparent; }
#nav > li:hover > a { display: block; background: url(../images/bg02.png) repeat-x #fff; line-height: 24px; height: 24px; color: #000; position: relative; text-decoration: none; top: 7px; border: 1px solid #639acc; border-bottom: 0; border-radius: 3px 3px 0 0; font-weight: bold;}

#nav ul li .subs .hoverLink { font-size: 12px; text-decoration: none; padding: 0 20px;}
#nav ul li .subs .hoverBox.subs { background:#fff;}

#nav ul li .subs .subs .subs .subs .hoverLink,  #nav ul li .subs .subs .subs .subs .hoverLinkOn { font-size: 12px; text-align: left; text-decoration: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; padding: 0 20px;  background-image: url(../images/arrow2.gif)!important; color:#c00!important;}

#nav .subs.Sleft { left:0; box-shadow: 2px 2px 1px #ccc;}
#nav ul .subs.Sleft {left:100%;}

#nav .subs.Sright { right:0; box-shadow: 1px 2px 2px #ccc;}
#nav ul .subs.Sright {right:100%;}
/**/
#nav.subs .hoverLink:hover, #nav .subs .hoverLinkOn { background:#60a7db; color:#fff;background-image: url(../images/arrow1_.gif); background-repeat:no-repeat;background-position: 8px 50%;}
#nav ul li .subs .subs { border-left-width:2px; border-left-color:#60a7db;}


.scroller-dropdowns{margin: 0 0 auto auto;width:40px;border-top:1px solid #639acc; height:32px; position: relative;z-index:1000; height:32px; background: url(../images/bg01.png) repeat-x; }
