

/* Gridster styles */
.demo {
    background: #004756;
}

.gridster { z-index:1;}
.gridster .gs-w {
    cursor: pointer;
    border:0;
    background-color:#fff;
   /*-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
   box-shadow: 0 0 1px rgba(0,0,0,0.3);*/
}

.gridster .player {
   /* -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);*/
}


.gridster .gs-w.try {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 37px -169px;

}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}
