@charset "utf-8";
/*程序员专用 */

.eventActiveSetButtonClass{ padding:0 16px; border:none; height:18px; line-height:18px; border-radius:2px; background:#3d8ccf;  color:#fff; text-align:center; -webkit-transition:all 0.2s; -moz-transition:all 0.2s; font-size:14px;}
.eventActiveSetButtonClass:hover{ background:#199ed8;}
.eventActiveChartCommon{
	margin:10px;
	font-size:14px;
	font-weight:normal;
	vertical-align:middle;
	height:18px;
	line-height:18px;
	padding-left: 18px;
}
.eventActive_COLUMN{
	background: url("icons/eventactive/column.png") no-repeat;
}
.eventActive_LINE{
	background: url("icons/eventactive/line.png") no-repeat;
}
.eventActive_BAR{
	background: url("icons/eventactive/bar.png") no-repeat;
}
.eventActive_PIE{
	background: url("icons/eventactive/pie.png") no-repeat;
}
.eventActive_RING{
	background: url("icons/eventactive/ring.png") no-repeat;
}
.eventActive_COLUMNLINE{
	background: url("icons/eventactive/columnline.png") no-repeat;
}
.eventActive_SCATTER{
	background: url("icons/eventactive/scatter.png") no-repeat;
}
